In [1]:
import pandas as pd

# Dados fictícios para o DataFrame
dados_produto = {
    'cod_produto': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010],
    'nome_produto': ['Maçã', 'Banana', 'Cenoura', 'Pão', 'Leite', 'Queijo', 'Arroz', 'Feijão', 'Frango', 'Peixe'],
    'grupo_alimentar': ['Frutas', 'Frutas', 'Legumes', 'Grãos', 'Laticínios', 'Laticínios', 'Grãos', 'Grãos', 'Proteínas', 'Proteínas']
}

# Criando o DataFrame
produto = pd.DataFrame(dados_produto)

# Exibindo o DataFrame
print(produto)

   cod_produto nome_produto grupo_alimentar
0         1001         Maçã          Frutas
1         1002       Banana          Frutas
2         1003      Cenoura         Legumes
3         1004          Pão           Grãos
4         1005        Leite      Laticínios
5         1006       Queijo      Laticínios
6         1007        Arroz           Grãos
7         1008       Feijão           Grãos
8         1009       Frango       Proteínas
9         1010        Peixe       Proteínas

In [2]:
import pandas as pd

# Dados fictícios para o DataFrame
dados_fornecedor = {
    'CNPJ': ['12345678901234', '23456789012345', '34567890123456', '45678901234567', '56789012345678',
             '67890123456789', '78901234567890', '89012345678901', '90123456789012', '01234567890123'],
    'nome_empresa': ['Fazenda Feliz', 'Plantio Verde', 'Cooperativa Agro', 'Padaria Pão Quente', 'Laticínios Saborosos',
                     'Queijaria Artesanal', 'Mercado Econômico', 'Armazém do Feijão', 'Frangos da Granja', 'Peixaria Mar'],
    'tipo': ['agricultura familiar', 'outro', 'agricultura familiar', 'outro', 'agricultura familiar',
             'agricultura familiar', 'outro', 'outro', 'agricultura familiar', 'outro']
}

# Criando o DataFrame
fornecedor = pd.DataFrame(dados_fornecedor)

# Exibindo o DataFrame
print(fornecedor)

             CNPJ          nome_empresa                  tipo
0  12345678901234         Fazenda Feliz  agricultura familiar
1  23456789012345         Plantio Verde                 outro
2  34567890123456      Cooperativa Agro  agricultura familiar
3  45678901234567    Padaria Pão Quente                 outro
4  56789012345678  Laticínios Saborosos  agricultura familiar
5  67890123456789   Queijaria Artesanal  agricultura familiar
6  78901234567890     Mercado Econômico                 outro
7  89012345678901     Armazém do Feijão                 outro
8  90123456789012     Frangos da Granja  agricultura familiar
9  01234567890123          Peixaria Mar                 outro

In [3]:
import pandas as pd
import numpy as np

# Dados fictícios para o DataFrame
np.random.seed(0)  # Para garantir a reprodutibilidade dos números aleatórios
cnpjs = ['12345678901234', '23456789012345', '34567890123456', '45678901234567', '56789012345678']
cod_produtos = [1001, 1002, 1003, 1004, 1005]
datas = pd.date_range(start='2024-01-01', end='2024-01-10')
quantidades = np.random.randint(9500, 10500, size=10)
valores_unitarios = np.random.uniform(1, 100, size=10)

# Calculando os valores totais
valores_totais = quantidades * valores_unitarios

# Criando o DataFrame
dados_comprado = {
    'CNPJ': np.random.choice(cnpjs, size=10),
    'cod_produto': np.random.choice(cod_produtos, size=10),
    'data': np.random.choice(datas, size=10),
    'quantidade': quantidades,
    'valor': valores_totais
}

comprado = pd.DataFrame(dados_comprado)

# Exibindo o DataFrame
print(comprado)

             CNPJ  cod_produto       data  quantidade          valor
0  23456789012345         1004 2024-01-08       10184  661384.779100
1  56789012345678         1004 2024-01-04       10059  445826.286051
2  45678901234567         1004 2024-01-03       10129  904373.103767
3  12345678901234         1001 2024-01-08        9692  934334.128003
4  45678901234567         1002 2024-01-03       10335  402658.941609
5  12345678901234         1002 2024-01-01       10263  814684.932518
6  34567890123456         1002 2024-01-01       10207  544651.614146
7  45678901234567         1001 2024-01-05        9859  564293.781455
8  12345678901234         1003 2024-01-06        9509  880857.344919
9  23456789012345         1005 2024-01-06       10223   82116.960673

In [4]:
import sqlite3
# Create your connection.
cnx = sqlite3.connect(':memory:')

In [5]:
produto.to_sql(name="produto", con=cnx)
fornecedor.to_sql(name="fornecedor", con=cnx)
comprado.to_sql(name="comprado", con=cnx)

In [6]:
resultado =pd.read_sql("""SELECT P.cod_produto, SUM (quantidade)
FROM produto P, fornecedor F, comprado C
WHERE P.cod_produto = C.cod_produto
AND C.CNPJ = F.CNPJ
AND F.tipo = 'agricultura familiar'
GROUP BY P.cod_produto
HAVING SUM (quantidade) > 10000""", cnx)

In [7]:
# a tabela resultado apenas dispõe do código de produto e sua quantidade vendida
# o resultado é adequado apenas ao item (e)
# o fornecedor não está incluso no resultado, logo o item (b) não
resultado

   cod_produto  SUM (quantidade)
0         1002             20470
1         1004             10059